@charset "utf-8";
.container-fluid {
    background-color: rgba(179,137,33,1.00);
}
.container-fluid .navbar.navbar-expand-lg.navbar-light.bg-light.offset-xl-0.col-xl-12 {
    background-image: -webkit-linear-gradient(270deg,rgba(131,96,30,1.00) 0%,rgba(161,124,16,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(131,96,30,1.00) 0%,rgba(161,124,16,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(131,96,30,1.00) 0%,rgba(161,124,16,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(131,96,30,1.00) 0%,rgba(161,124,16,1.00) 100%);
}
